![hare](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/726px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)

Author: Alan Schmierer

In [1]:
import pandas as pd
import numpy as np

url = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701"
bunny = pd.read_csv(url)

In [2]:
list(bunny.columns)

['date',
 'time',
 'grid',
 'trap',
 'l_ear',
 'r_ear',
 'sex',
 'age',
 'weight',
 'hindft',
 'notes',
 'b_key',
 'session_id',
 'study']

In [3]:
bunny.shape

(3380, 14)

In [4]:
bunny.isna().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [5]:
bunny['hindft'].max()

160.0

In [6]:
bunny['hindft'].min()

60.0

In [7]:
bunny['weight'].max()

2365.0

In [8]:
bunny['weight'].min()

0.0

In [9]:
bunny.columns

Index(['date', 'time', 'grid', 'trap', 'l_ear', 'r_ear', 'sex', 'age',
       'weight', 'hindft', 'notes', 'b_key', 'session_id', 'study'],
      dtype='object')

In [10]:
bunny["sex"].unique()

array([nan, 'M', 'F', '?', 'F?', 'M?', 'pf', 'm', 'f', 'f?', 'm?', 'f ',
       'm '], dtype=object)

| sex value   |    definition |
|    :----:   |     :----:    |
| nan       | no value   |
| M        | male      |
| F        | female      |
| ?        | unknown gender      |
| F?        | questionably female      |
| M?        | questionably male      |
| other values        | idk the metadata doesn't go into detail      |

In [11]:
bunny["sex"].value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

in value_counts() dropna argument is defaulted to TRUE
if we change it to false we can also get the num of NaN

In [12]:
bunny["sex"].value_counts(dropna=False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

- do values coorespond in sex?: kind of the metadata doesn't go into enough detail
- causes for multiple codes: field data collection can be a messy process and there may have been error introduced during data entry
- repeated values?: yes, because some are uppercase, lowercase, have whitespace

In [13]:
bunny.replace({"Female" : {"F": "Female", 
                                  "M": "Male",
                                  "f": "Female",
                                  "m": "Male",
                                  "?": "",
                                  "F?": "Female",
                                  "f": "Female",
                                  "m": "Male",
                                  "f?": "Female",
                                  "M?": "Male",
                                  "m?": "Male",
                                  "pf": ""}})

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,8/8/2002,18:00:00,bonrip,1b,1201,1202,NaN,NaN,1400.0,NaN,NaN,63.0,64,Population
3376,8/8/2002,6:00:00,bonrip,4b,1201,1202,NaN,NaN,NaN,NaN,NaN,63.0,64,Population
3377,8/7/2002,NaN,bonrip,4b,1217,1218,NaN,NaN,1000.0,134.0,NaN,69.0,64,Population
3378,8/8/2002,NaN,bonrip,6d,1217,1218,NaN,NaN,990.0,NaN,NaN,69.0,64,Population
3379,8/6/2002,NaN,bonrip,4b,1058,1060,M,NaN,1460.0,119.0,NaN,32.0,64,Population

In [14]:
bunny['sex'].replace(['F', 'f', 'F?', 'f', 'f?', 'f '], 'Female', inplace=True)
bunny['sex'].replace(['M', 'm', 'm ', 'M?', 'm?'], 'Male', inplace = True)
bunny['sex'].replace(['NaN', '?', 'pf'], np.NaN, inplace=True)

In [15]:
bunny["sex"].value_counts(dropna=False)

Female    1734
Male      1253
NaN        393
Name: sex, dtype: int64

In [17]:
bunny.groupby('sex').mean('weight')

             weight      hindft       b_key  session_id
sex
Female  1363.246053  130.746975  481.436921   57.821223
Male    1350.194643  133.200295  489.765363   49.229050

on average, females weight more than males in units whatever they are